@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@500&family=Orelega+One&family=Poppins:wght@200&display=swap');
body{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    background-color:  rgb(234, 244, 245);
    font-family: 'Libre Bodoni', serif ;
}
.cardPrincipal{
    display: flex;
    justify-content:center;
    align-items: center;
}
.card-esquerda{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100vw;
    height: 100vh;
}
.card-primario{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 60vw;
    height: 100vh;
}
#imagem{
    width: 40%;
    height: 40%;
}
.card-secundario{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 40vw;
    height: 100vh;

}
.card-direita{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
header
{
    color:rgb(78, 119, 153);
    font-weight: 600;
    font-size:30px;
    margin-bottom: 20px;
}
.cadastro{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background: #d4e3e9;
    width: 400px;
    margin-bottom:20px;
    border-radius: 8px;
    padding: 10px;
}
.enviar{
    background: rgb(78, 119, 153);
    margin-bottom:20px;
    border-radius: 8px;
    padding: 10px;
    width: 100px;
    font-weight: 700;
}
.enviar:hover{
    background-color: #d4e3e9;
    color: black;
}
.card-direita > h1{
    color: rgb(78, 119, 153);
}
label{
    color:rgb(78, 119, 153);
    font-weight: 600;
    font-size:20px;
}

input::placeholder{
    font-weight: 700;
}
.links{
    text-decoration: none;
    color:rgb(52, 80, 104);
    margin-bottom: 10px;
    font-weight: 600;
}

@media (max-width:1000px){

            .card-esquerda{
                display: none;
            }
            .card-primario{
                display: none;
            }
    
        .card-secundario{
                display: flex;
                justify-content:center;
                align-items: center;
                width: 100vw;
                height: 100vh;
            }
            .card-direita{
                display: flex;
                justify-content:center;
                align-items: center;
                flex-direction: column;
                background-color: #a9b3b8;
                width: 30vw;
                height: 0;
            }
}